<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.feedbacktower">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-feature android:name="android.hardware.location.gps"/>

    <application
            android:name=".App"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning"
            tools:replace="android:allowBackup,android:usesCleartextTraffic">
        <activity android:name=".ui.payment.PlanPaymentResultScreen">
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/map_key"/>

        <activity
                android:name=".ui.map.MapScreen"
                android:screenOrientation="portrait"
                android:label="Last Seen At">
        </activity>
        <activity
                android:name=".ui.videoplayer.VideoPlayerScreen"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.utilities.filepicker.provider"
                android:exported="false"
                android:grantUriPermissions="true"
                tools:replace="android:authorities">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"
                    tools:replace="android:resource"/>
        </provider>

        <activity android:name=".ui.home.post.video.VideoTrimmerScreen"
                  android:theme="@style/FullScreenTheme"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.myplan.MyPlanScreen"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.home.post.image.ImagePostActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.qrtransfer.sender.SenderActivity"
                android:theme="@style/FullScreenTheme"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.ScannerScreen"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.home.post.text.TextPostActivity"
                android:label="@string/write_something"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.plans.SubscriptionPlansScreen"
                android:label="@string/select_plan"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.main.CustomerMainActivity"
                android:label="@string/title_activity_business_main"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.business_detail.BusinessDetailsActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.main.BusinessMainActivity"
                android:label="@string/title_activity_business_main"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.splash.SplashScreen"
                android:theme="@style/SplashTheme"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.register.RegisterPhoneScreen"
                android:theme="@style/AuthTheme"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.login.LoginScreen"
                android:theme="@style/AuthTheme"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.profile.ProfileSetupScreen"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.profile.BusinessProfileSetupScreen"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.qrtransfer.receiver.ReceiverActivity"
                android:theme="@style/FullScreenTheme"
                android:screenOrientation="portrait"/>
        <activity android:name=".utilities.filepicker.MediaDetailsActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".utilities.filepicker.FilePickerActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.profile.BusinessProfileEditScreen"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ui.account.find_customer.FindCustomerActivity"
                  android:screenOrientation="portrait"/>
        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>

        <receiver
                android:name=".network.utils.ConnectivityReceiver"
                android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.location.live.MapTrackingFragment$LocationBroadcastReceiver"/>

        <service android:name=".notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".utilities.tracker.TrackerService"/>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
                  android:theme="@style/Base.Theme.AppCompat"
                  android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.home.post.video.VideoTrimmerScreen2"
                android:theme="@style/FullScreenTheme"/>
    </application>

</manifest>